body {
    font-family: sans-serif;
    background-color: #BEACD0;
}

header {
    background-color: #9F69D6;
    padding: 10px;
}

nav {
    text-align: center;
    padding: 10px;
    margin: 5px;
}

nav a {
    text-decoration: none;
    background-color: #8B42D6;
    color: white;
    margin: 25px;
    padding: 7px;
    border-radius: 5px;
    font-size: 20px;
}

h1 {
    text-align: center;
    color: #542881;
}

h2 {
    color: #542881;
}

.text {
    color:white;
    background-color: #9F69D6;
    padding: 8px;
}

.spisok {
    color:white;
    background-color: #8B42D6;
    margin: 0px;
    padding: 5px;
}

img {
    margin: 10px;
}

footer {
    background-color: #9F69D6;
    text-align: center;
    padding: 1px;
    margin-top: 20px;
}

h4 {
    color: #542881;
}
